.headline {
    align-items: center;
    border: 0px solid #30343f;
    font-family: sans-serif;
    color: #00BFFF;
    background-color: #2F0B3A;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 0px;
    text-align: center;
    font-size: 11px;
  }


@media (prefers-reduced-motion: no-preference) {
    .pictureIcon {
      animation: App-logo-spin infinite 10s linear;
    }
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  